
/* font-family: 'Noto Serif JP', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Muli', sans-serif; */

body{
  
}


 .logo{
  height: 100%;
}

.tx-white{
  color:whitesmoke !important;
}

 .tx-primary{
   color: #d2a92d;
 }

 .tx-accent{
   color: #18386b !important;
 }

 .tx-light{
   color:rgb(90, 90, 90);
 }

.bg-primary{
  background: #d2a92d !important;
}

.btn-primary:hover{
  background: #c49c24 !important;
}

.bg-accent{
  background: #18386b !important;
}

 .noto{
  font-family: 'Noto Serif JP', sans-serif;
}

.openSans{
  font-family: 'Open Sans', sans-serif;
}

.muli{
  font-family: 'Muli', sans-serif;
}


button[type=submit]{
  color: #18386b;
  font-weight: 700;
  font-size: 0.9em;
  font-family: 'Nunito Sans', sans-serif;
}


/* @media screen and (max-width:800px)
{
  .info{
    flex-wrap: wrap-reverse;
  }
} */